body {
    background-color:hsl(212, 45%, 89%);
}

main {
    background-color: white;
    border-radius: 17px;
    width: 300px;
    padding: 18px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.The_QR_photo {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.Text_div1 {
    width: 92%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.Text_div2 {
    width: 92%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;
}
.text2 {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 17px;
}

p {
    font-family: 'Outfit';
}

footer {
    font-family: 'Outfit';
    font-weight:bold;
    text-align: center;
    background-color: lightgray;
    width: 300px;
    border-radius: 13px;
    padding: 0.5%;
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0);
    margin-bottom: 15px;
}

.footer_text{
    margin: 0px;
    font-size: 18px;
}